nav{
    text-align-last: right;
    background-color: rgb(170, 200, 233);
    height: 60px;
    padding-top: 25px;
    border-radius: 15px;

}
nav a {
    
    padding-top: 20px;
    text-decoration: none;
    margin-inline: 30px;

}

.orden-1{
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    margin: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;



    width: 100%;
    height: 1920px;
   
    align-items: center;
    align-content: center;

    justify-items:center;

    background-color: rgba(255, 131, 156, 0.426);


}
    
.images{
    width:15%;
    height: 20%;


    border: 5px solid purple;

}

.galery{
    
    color: rgb(0, 0, 130);
    padding: 15px;
    background-color: azure;
    border-radius: 15px;

}


.start{
    padding: auto;

}
.txt{
    color: black;
    text-decoration: none;
    font-weight:bold ; 
    font-size: 20pt;
    padding: 20px;
    font-family: 'Raleway', sans-serif;


}
.contenedor{

height: 1080px;

}


.parrafo{
    
    align-items: center;
    
}

footer{
    font-family: 'Raleway', sans-serif;;
    


    padding: 20px;
   
    height: 180px;
    background-color:rgb(170, 200, 233);
}
.columm{

    border-radius: 30px;

}
body{

    background-color: rgba(234, 234, 255, 0.962);
}