.section-7{
/*     height: 71.7+43.7px; */
    height: 115.4px;

    border: 1px solid black;
}
.section-container-sub-7-1{

    height: 75.4px;
    margin-left: 40px;margin-right: 40px;

    border: 1px solid black;
}