.section-6{
    height: 540px;

    border: 1px solid black;
}
.section-container-sub-6-1{

    height: 500px;
    margin-left: 40px;margin-right: 40px;
    border: 1px solid black;
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}
.s-c-sb-6-1{

    background-size: cover;
    
}


.section-c-img-sub-6-1-1{

    background-size: cover;
    width: 100%;height: 100%;
    border: 1px rgb(255, 0, 0) solid;

    margin-bottom: 20px
}
.section-c-img-sub-6-1-2{

    background-size: cover;
    width: 100%;height: 100%;
    border: 1px rgb(255, 0, 0) solid;

    margin-bottom: 20px
}
.section-c-img-sub-6-1-3{

    background-size: cover;
    width: 100%;height: 100%;
    border: 1px rgb(255, 0, 0) solid;

    margin-bottom: 20px
}